<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	

	<title>Projeto Estudo</title>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script type="text/javascript">
		angular.module('App', []).controller('Controller', function() {
			var ctrl = this;
			ctrl.data = new Date();
		});
	</script>

	<div ng-app='App' ng-controller='Controller as control'>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 style="margin-top:10px">Novo Recibo</h3>
		</div>

		<div class="panel-body">
			<div class="panel panel-info">
				<div class="panel-heading"><h2>Recibo</h2></div>
				<div class="panel-body">
					<div class="col-md-4">
						<div class="form-group">
							<label>Nº</label> 17000
						</div>
						<div class="form-group">
							<label>Data</label> {{control.data | date: "dd/MM/y"}}
						</div>
						<div class="form-group">
							<label>Notas</label> 17123, 17358
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Cliente</label> O30 EXAME SEDE
						</div>
						<div class="form-group">
							<label>Bairro</label> ASA SUL
						</div>
						<div class="form-group">
							<label>Endereço</label> SHIS 210 SUL
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Responsável</label> RAQUEL
						</div>
						<div class="form-group">
							<label>Telefone</label> (61) 3036-7789 / (61) 9 9371-4563
						</div>
						<div class="form-group">
							<label>E-mail</label> dasa@exame.com.br
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading form-inline">
					<div class="form-group">
						<label for='produto'>Produto</label>
						<input id='produto' class="form-control" placeholder="Produto" ng-model='cRecibo.item.search'>
					</div>
					<div class="form-group">
						<label for='quantidade'>Quantidade</label>
						<input id='quantidade' class="form-control" placeholder="Quantidade" ng-model='cRecibo.item.quantidade'>
					</div>
					<button class="btn btn-info btn-sm" ng-disabled='!cRecibo.item.produto || !cRecibo.item.quantidade'>Inserir</button>

					<div style="float:right" ng-show='!cRecibo.item.produto'>
						<label>Disponível:</label> 500
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<th>Código</th>
							<th>Produto</th>
							<th>Quantidade</th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat='item in cRecibo.itens'>
								<td>{{item.produto.codigo}}</td>
								<td>{{item.produto.nome}}</td>
								<td>{{item.quantidade}}</td>
								<td align="right">
									<button class="btn btn-warning btn-sm">Alterar</button>
									<button class="btn btn-danger btn-sm">Excluír</button>
								</td>
							</tr>
							<tr ng-show="!cRecibo.itens">
								<td colspan="4" align="center">Nenhum produto inserido</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="panel-footer" align="right">
			<button class="btn btn-default">Cancelar</button>
			<button class="btn btn-primary" ng-disabled="!cRecibo.itens">Salvar</button>
		</div>
	</div>
	
	</div>

	</div>

</body>
</html>